:root {
  --main-color: #0075ff;
  --light-text-color: gray;
  --dark-text-color: rgb(148, 139, 139);
  --bg-color: white;
  --highlight-color: #ff8749;
  
  --main-font: 'Lucida sans', sans-serif;

  --container-width: 1024px;
  --container-padding: 20px;
  --header-height: 60px;
  --footer-height: 60px;
  
  --font-size: 16px;
}