*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--dark-text-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--dark-text-color);
  transition: 0.2s;
}

a:hover {
  color: var(--main-color);
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding));
  margin: 0 auto;
  padding: 0 var(--container-padding);
}